.qy-mvp-container{
    width: 80%;
    height: 80%;
    /* taffy: 注释extension.css原版代码喵 */
    /* left: 46%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    left: 48%;
    /* taffy分界线 */
    top: 44%;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.qy-mvp-piaodai-left{
    width: 100%;
    height: 40%;
    /* taffy: 注释extension.css原版代码喵 */
    /* top: 7%;
    left: -4%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    top: -5%;
    left: -10%;
    /* taffy分界线 */
    background-size: 100% 100%;
    background-image: url("images/piaodai_zuo.png");
    z-index: -1;
    position: relative;
}

.qy-mvp-piaodai-right{
    height: 40%;
    width: 36%;
    background-size: 100% 100%;
    z-index: -1;
    position: relative;
    /* taffy: 注释extension.css原版代码喵 */
    /* top: 3%;
    left: 7%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    top: 0%;
    left: 16%;
    /* taffy分界线 */
    background-image: url("images/piaodai_you.png");
}

.qy-center-container{
    position: relative;
    height: 110%;
    width: 85%;
    left: 7%;
}

.qy-mvp-avatarbox{
    width: 150%;
    /* taffy: 注释extension.css原版代码喵 */
    /* height: 90%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    height: 110%;
    /* taffy分界线 */
    top: 0%;
    /* taffy: 注释extension.css原版代码喵 */
    /* left: -40%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    left: -46%;
    /* taffy分界线 */
    background-size: 100% 100%;
    /* taffy: 适配web端样式喵 */
    transform: rotate(-6deg);
    /* taffy分界线 */
    background-image: url("images/avatarbox动.png");
}

.qy-mvp-avatarborder{
    width: 45%;
    height: 58%;
    top: 22%;
    left: 30%;
    background-size: 100% 100%;
    transform: rotate(12deg);
    z-index: 2;
}
.qy-mvp-avatarborder::before{
    content:attr(data-name);
    top: 20%;
    position: absolute;
    width: 20px;
    left: 5.5%;
    /* taffy: 注释extension.css原版代码喵 */
    /* font-size: 2.4vw; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    font-size: 1.5vw;
    /* taffy分界线 */
    font-family: shousha;
}

   /*武将图片*/
.qy-mvp-avatar{
    background-size: cover;
    background-position-x: 50%;
    width: 37%;
    /* taffy: 注释extension.css原版代码喵 */
    /* height: 54%;
    top: 23.8%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    height: 54.2%;
    top: 23.6%;
    /* taffy分界线 */
    left: 36%;
    transform: rotate(12deg);
}

   /*数据整体位置*/
.qy-mvp-qyInfo {
    position: absolute;
    width: 100%;
    height: 80%;
    /* taffy: 注释extension.css原版代码喵 */
    /* top: 36%;
    left: 90%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    top: 27%;
    left: 80%;
    /* taffy分界线 */
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.qy-mvp-qyInfo div {
    position: relative;
    width: 100%;
}

.qy-mvp-title{
    /* taffy: 注释extension.css原版代码喵 */
    /* height: 28%;
    top: -14%;
    left: -4%;
    font-size: 1.7vw; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    height: 31%;
    top: -18%;
    left: -10%;
    font-size: 1vw;
    /* taffy分界线 */
    background-image: url("images/quanchangzuijia.png");
    background-size: 100% 100%;
}

.qy-mvp-center{
    height: 20%;
    display: flex;
    flex-direction: row;
}
.qy-mvp-center div{
    font-family: shousha;
    font-weight: 800;
}

   /*玩家名称*/
.qy-player-info * {
    /* taffy: 注释extension.css原版代码喵 */
    /* font-size: 2.7vw; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    font-size: 1.8vw;
    /* taffy分界线 */
    color: rgb(234, 138, 76);
    /* taffy: 注释extension.css原版代码喵 */
    /* top: -75%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    top: -110%;
    /* taffy分界线 */
}

.qy-mvp-icon{
    background-image: url("images/offical_dajiangjun.png");
    background-size: 100% 100%;
    /* taffy: 注释extension.css原版代码喵 */
    /* width: 36% !important; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    width: 45% !important;
    /* taffy分界线 */
    height: 140%;
    /* taffy: 注释extension.css原版代码喵 */
    /* top: -85%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    top: -120%;
    /* taffy分界线 */
    left: -2%;
}

   /*名字*/
.qy-mvp-name-info{
    /* taffy: 注释extension.css原版代码喵 */
    /* font-size: 4.1vw !important;
    top:-75%; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    font-size: 2.4vw !important;
    top:-110%;
    /* taffy分界线 */
    color: #D9B46C;
}

   /*分数详情*/
.qy-mvp-scoreInfo {
    /* taffy: 注释extension.css原版代码喵 */
    /* top: -9%;
    left: 0.7%;
     */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    top: -15%;
    left: 4%;
    /* taffy分界线 */
}

.qy-mvp-scoreInfo *{
    font-family: shousha;
    font-weight: 800;
    /* taffy: 注释extension.css原版代码喵 */
    /* font-size: 2.7vw; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    font-size: 1.5vw;
    /* taffy分界线 */
    color: #9F9D7C;
}

.qy-mvp-name-title:first-child {
    color: #BC9467;
}

.qy-mvp-name-title:last-child {
    color: #CC941C;
}


@media (min-width: 1920px) {
    .qy-mvp-avatarbox{
        height: 110%;
        top: -2%;
    }
}

.qy-mvp-player-nickname {/*本人昵称*/
    /* taffy: 注释extension.css原版代码喵 */
    /* font-size: 3.6vw; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    font-size: 2.2vw;
    /* taffy分界线 */
    color: #D9B46C;
}

.qy-mvp-player-nickname > img {/*本人图标*/
    position: absolute;
    /* taffy: 注释extension.css原版代码喵 */
    /* width: 10vw; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    width: 5vw;
    /* taffy分界线 */
    top: -10px;
    /* taffy: 注释extension.css原版代码喵 */
    /* left: 110px; */
    /* taffy分界线 */
    /* taffy: 适配web端样式喵 */
    left: 120px;
    /* taffy分界线 */
    margin-left: 15px;
}


.qy-mvp-share-button {/*分享图标*/
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 96px;
    height: 108px;
    background-image: url("images/pubtn_share.png");
    background-size: 100% 100%;
}